<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3> 나만의 홈페이지 </h3>
<a href="/">북마크</a>
<a href="{% url 'vote:index' %}">설문조사</a>
<a href="{% url 'blog:index' %}">블로그</a>
<br>
{% if user.is_authenticated %}
	<p>{{user.last_name}} {{user.first_name}} 님 환영합니다.<a href="{% url 'cl:signout' %}">로그아웃</a></p>
{% else %}
	<a href="{% url 'cl:signin' %}">로그인</a>
	<a href="{% url 'cl:signup' %}">회원가입</a>
{% endif %}
<hr>
{% block content %}
	
{% endblock %}
</body>
</html>